.container {
  width: 68px;
  height: 34px;
  border: 1.5px solid #53c28b70;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 2px;
  position: relative;
  cursor: pointer;
}

.icon {
  font-size: 5px;
}

.ball {
  width: 30px;
  height: 30px;
  background-color: #53c28b;
  border-radius: 50%;
  position: absolute;
  justify-content: center;
  align-items: center;
}
